<footer>
    <div class="main-content">
        <p>© Yana's Invites 2024. All rights reserved.</p>
        <p>When you visit or interact with our sites, services, or tools, we or our authorized service providers may use cookies for storing information to help provide you with a better, faster, and safer experience and for marketing purposes.</p>
    </div>

    <nav>
        <ul>
            
            <a href="/privacy-policy">Privacy Policy</a>
            <span>Contact & Follow @:</span>
            <a href="https://www.facebook.com/al33ma.sharma?mibextid=LQQJ4d"><img src="/fb.png" alt="Facebook" style="width: 30px;"></a>
            <a href="https://www.instagram.com/little_avocado"><img src="/stylesheets/insta.png" alt="Instagram" style="width: 30px;"></a>
            <a href="https://www.tiktok.com/@al_sh415"><img src="/stylesheets/tiktok.png" alt="TikTok" style="width: 30px;"></a>
        </ul>
    </nav>
</footer>
