<footer>
    <p>© Yana 2024. All rights reserved.</p>
    <p>When you visit or interact with our sites, services, or tools, we or our authorized service providers may use cookies for storing information to help provide you with a better, faster, and safer experience and for marketing purposes.</p>
    <nav>
        <ul>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>
</main>
</body>
</html>
