<footer>
    <span>© Yana's Invites 2024. All rights reserved.</span>
    <nav>
        <ul>
            <li>
                <a href="#" id="privacy-policy-link">Privacy Policy</a>
                <span class="policy-note" id="privacy-policy-note" style="display: none;">
                    
                    <ol>
                        <li>Information Collection and Use: We may collect personal information from users in various ways, including, but not limited to, when users visit our site, register on the site, subscribe to the newsletter, respond to a survey, fill out a form, and in connection with other activities, services, features, or resources we make available on our site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, and credit card information.</li>
                        <li>How We Use Collected Information: We may use the information we collect from users for various purposes, including to improve customer service, personalize user experience, improve our site, process transactions, send periodic emails, administer a contest, promotion, survey, or other site feature.</li>
                        <li>Protection of Information: We adopt appropriate data collection, storage, and processing practices and security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information, username, password, transaction information, and data stored on our site.</li>
                        <li>Sharing Personal Information: We do not sell, trade, or rent users' personal identification information to others.</li>
                        <li>Changes to This Privacy Policy: We reserve the right to update or change our Privacy Policy at any time.</li>
                    </ol>
                    Contacting Us: If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us. This document was last updated on [Date].
                </span>
            </li>
            <li>
                <span>Contact & Follow @:</span>
                <a href="https://www.facebook.com/al33ma.sharma?mibextid=LQQJ4d"><img src="/fb.png" alt="Facebook" style="width: 30px;"></a>
                <a href="https://www.instagram.com/little_avocado"><img src="/stylesheets/insta.png" alt="Instagram" style="width: 30px;"></a>
                <a href="https://www.tiktok.com/@al_sh415"><img src="/stylesheets/tiktok.png" alt="TikTok" style="width: 30px;"></a>
            </li>
        </ul>
    </nav>
</footer>
