<%- include('./partials/header') %>

<div>Welcome Planners!! Enjoy Creating your Brand New Event Here</div>
<div class="image-container">
<img src="/stylesheets/eventBackground.jpeg" alt="Image Description" style="max-width: 1000px; height: 200px;">
<img src="/stylesheets/home.png" alt="Image Description" style="max-width: 1000px; height: 200px;">
<img src="/stylesheets/images3.jpeg" alt="Image Description" style="max-width: 1000px; height: 200px;">

</div>
<div>
  <h2>Plan Your Events with Ease</h2>
  <p>Our Event Planner App simplifies the process of organizing and managing events. Whether it's a birthday party, wedding, conference, or any other special occasion, our app has you covered.</p>
</div>

<div>
  <h2>Key Features:</h2>
  <ul>
    <li>Easy Event Creation: Quickly create new events with customizable details such as occasion, date, time, venue, and guest list.</li>
    <li>Guest Management: Keep track of RSVPs, invite guests, and manage attendee lists effortlessly.</li>
    <li>Task Management: Stay organized with task lists, reminders, and deadlines for event planning tasks.</li>
    
  </ul>
</div>



<%- include('./partials/footer') %>
