* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: inherit;
  padding: 7px;
  color: rgb(7, 3, 1);
}

body {
  margin: 20;
  height: 100vh; 
  display: grid;
  grid-template-rows: 80px 2fr;
  grid-template-areas:
    "nav"
    "main";
}

html {
  background-image: url('backgroundImage.jpeg');
  background-size: 100%;
  background-position: center;
}

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  grid-area: nav;
  background-color: rgb(187, 155, 228);
  display: flex;
  justify-content: first baseline;
  align-items: center;
  padding: 0 5px;
  border-bottom: 1px solid rgb(174, 170, 178);
  
}

nav > img {
  width: 80px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  overflow-y: scroll;
}

nav > a {
  margin: 0 30px;
  text-decoration: none;
  padding: 0px;
  border-radius: 3px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: rgb(195, 202, 218);
  cursor: default;
}

#new-form, #add-review-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  align-items: center;
}


#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
}



#event-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

.actions a {
  margin-right: 10px;
}

.rsvp-options {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.rsvp-options label {
  margin-right: 5px;
}


#show-page {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 10px;
}

.event-details {
  grid-column: span 2;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 0fr));
  gap: 1.5px;
}

hr {
  color: rgb(187, 155, 228);
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: 2rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}

#show-page li {
  font-weight: bold;
}

.page-container {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

.about-section {
  margin-bottom: 20px;
}

.signup-signin-section {
  margin-bottom: 20px;
}

header {
  background-color: #c5c7d0;
  color: #080101;
  padding: 30px;
  text-align: center;
}

/* Add this CSS to your stylesheet */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa; 
  padding: 10px;
  text-align: center;
}

.main-content {
  margin-bottom: 20px; 
}


.main-content {
  display: flex;
}

.about-section {
  flex: 1;
  margin-right: 20px;
}

.signup-signin-section {
  flex: 1;
}


#contactFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#emailField, #phoneField {
  display: flex;
  flex-direction: column;
}

#emailField label, #phoneField label {
  margin-bottom: 5px;
}

#emailField input, #phoneField input {
  padding: 5px;
}


.image-container {
  display: flex;
  justify-content:center;
}



