<%- include('../partials/header') %>

<div>Please Sign Up:</div>
<section id="badge-container">
  <% subscribers.forEach(function(s) { %>
    <article class="badge"><%= s.name %></article>
  <% }) %>
</section>

<form id="add-subscriber-form" action="/subscribers" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="contactInformation">Contact Information (Email/Phone Number):</label>
  <input type="text" id="contactInformation" name="contactInformation">
  <input type="submit" value="Add Subscribers">
</form>

<div>Please Sign In:</div>
<form id="sign-in-form" action="/auth/signin" method="POST">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <input type="submit" value="Sign In">
</form>

<%- include('../partials/footer') %>
